

<div class="profile_body">
  <div class="profile_title">
  <h1>設定</h1>
  </div>
  <div class="profile_container">
      <ul class="choice_box">
        <li><%= link_to"アカウント",account_path%></li>
        <li><%= link_to"プロフィール",profile_path%></li>
      </ul>
      <div class="edit_box">
        <div class="edit_bar">
          <p>プロフィール</p>
          <p class="edit_link"><%=link_to"編集",profile_edit_path %></p>
        </div>
        <table class="setting_table">
          <tr>
            <th class="th_title">アイコン画像</th>
            <td>
            <% if @user.img? %>
            <%= image_tag @user.img.thumb.url, class:"rounded-circle size100✖️100" %>
            <% else %>
            <%= image_tag "default-avatar.png", class:"size100✖️100"%>
            <% end %>
            </td>
          </tr>
          <tr>
            <th class="th_title">名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th class="th_title">自己紹介</th>
            <td><%= @user.introduction %></td>
          </tr>
        </table>
    </div>
  </div>

<div>
