<ul class="dropdown_list" id="dropdownlist">
  <li class="dropdown_list"><%= link_to"施設の新規登録"%></li>
  <li class="dropdown_list"><%= link_to"予約済み一覧"%></li>
  <li class="dropdown_list"><%= link_to"登録済み一覧"%></li>
  <li class="dropdown_list"><%= link_to"アカウント設定",account_path%></li>
  <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
</ul>
