

<div class="index_body">
<div class="index_box">
  <h2 class="reserve_index_title">予約済み一覧</h2>
    <table class="index_table">
      <thead>
        <tr>
          <th class="index_thead">画像</th>
          <th class="index_thead">施設名</th>
          <th class="index_thead">紹介文</th>
          <th class="index_thead">総支払額</th>
          <th class="index_thead">チェックイン</th>
          <th class="index_thead">チェックアウト</th>
          <th class="index_thead">予約確定日時</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |post|%>
        <% @room = post.room %>
          <tr>
            <th class="index_th">
              <% if @room.img? %>
              <%= image_tag @room.img.thumb.url, class:"size100✖️100"%>
              <% else %>
              <%= image_tag "default-image.png", class:"hotel_img"%>
              <% end %>
            </th>
            <th class="index_th"><%= link_to"#{@room.name}",post %></th>
            <th class="index_th"><%= @room.introduction %></th>
            <th class="index_th">¥<%= post.total_price %></th>
            <th class="index_th"><%= l post.check_in_at, format: :short %></th>
            <th class="index_th"><%= l post.check_out_at, format: :short %></th>
            <th class="index_th"><%= l post.created_at %></th>
            <th><%= link_to"●",[:edit,post] %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
</div>
