<div class="login_page">
  <h2 class="login_title">ログイン</h2>

  <div class="login_box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <p><%= f.label :メールアドレス %></p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login_field" %>
      </div>

      <div class="field">
        <p><%= f.label :パスワード %></p>
        <%= f.password_field :password, autocomplete: "current-password" ,class:"login_field" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン状態を保持しますか？ %>
        </div>
      <% end %>

      <%= f.submit "ログイン" ,class:"login_submit" %>


    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
